---

---

<nav
  class="w-full py-6 px-6 md:px-12 flex justify-between items-center text-sm uppercase font-bold tracking-widest text-secondary/60"
>
  <a href="/" class="hover:text-primary transition-colors">Start</a>

  <div class="space-x-8">
    <a href="/docs/intro" class="hover:text-primary transition-colors"
      >Made with AI only</a
    >
    <a href="/impressum" class="hover:text-primary transition-colors"
      >Impressum</a
    >
    <a href="/privacy" class="hover:text-primary transition-colors"
      >Datenschutz</a
    >
  </div>
</nav>
